.cart-widget{
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all, 0.3s;
}

.cart-icon {
    color: antiquewhite;
    font-size: 20px;
}

span {
    color: antiquewhite;
    font-size: 20px;
}

.cart-widget-active {
    visibility: visible; 
    opacity: 1; 
}